<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>libdeviceinfo</string>
	<key>CFBundleExecutable</key>
	<string>libdeviceinfo</string>
	<key>CFBundleIdentifier</key>
	<string>ohos.ace.libdeviceinfo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>libdeviceinfo</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.6</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>ClangVersion</key>
	<string>b'clang version 14.0.0 (https://github.com/tru/llvm-release-build fc075d7c96fe7c992dde351695a5d25fe084794a)'</string>
	<key>MiniXEngineVerson</key>
	<string>1.0.0</string>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>ACEEngine</key>
	<string>weekly_20240108</string>
</dict>
</plist>
